body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    background-image: url("https://etimg.etb2bimg.com/thumb/msid-80836731,width-1200,height-900,resizemode-4/.jpg");
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #foodItems {
    margin-top: 20px;
  }
  
  #orderResult {
    margin-top: 20px;
  }
  
  .foodImage {
    max-width: 100%;
    height: auto;
  }
  
  .orderId {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    
  }
